/*
    https://css-tricks.com/left-and-right/
*/

body 
{
  background-color: white;

}

h1{
    color: white;
    font-size: xx-large;
    text-align: center;
}

/* Pen-specific styles */
* {
  box-sizing: border-box;
}
body {
  font-size: 1.25rem;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  line-height: 125%;
  text-shadow: 0 2px 2px #FFFFFF;
}

section {
  color: white;
  text-align: center;
}

div {
  height: 100%;
}

article {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 20px;
}

h1 {
  font-size: 250%;
  margin: 0 0 0.75rem 0;
}

/* Pattern styles */
.container {
  display: table;
  width: 100%;
}

.gui {
  background-image: url('ws_Abstract_Geometric_Shapes_1366x768.png');
  position: absolute;
  position: absolute;
  left: 0px;
  width: 100%;


}

.buttons{
  background-color: black;
  border: 3px solid white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold
}



.force-lock-door{
  background-color: black;
  position: absolute;
  left: 90px;
  top: 100px;
}


.force-unlock-door{
  background-color: black;
  position: absolute;
  left: 85px;
  top: 200px;
}

.add-user{
  background-color: black;
  position: absolute;
  left: 650px;
  top: 600px;
}

.remove-user{
  background-color: black;
  position: absolute;
  left: 1050px;
  top: 600px;
}

.logout{
  background-color: black;
  position: absolute;
  left: 85px;
  top: 600px;
}


.get-database{
  background-color: black;
  position: absolute;
  right: 100px;
  top: 100px;
}


.connect{
  background-color: black;
  position: absolute;
  right: 900px;
  top: 600px;
}


.buttons:active{
  background-color: #3e8e41;
  box-shadow: gray;
  transform: translateY(4px);
}

.buttons:hover {background-color: gray}

.text_box{
  width: 10%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 25px;
  text-align: center;
  font-size: 2.5rem;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  background-color: black;
  font-weight: bold;
  border: 3px solid #555;
  color: white;

}

#add-remove-status1{
  width: 30%;
  height: 10%;
  position: absolute;
  right: 670px;
  top: 600px;

}

#add-remove-status2{
  width: 30%;
  height: 10%;
  position: absolute;
  right: 670px;
  top: 600px;

}


.labels{
  font-size: 2.5rem;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  color: white;
  font-weight: bold;
}

.username-label{
  position: absolute;
  right: 1000px;
  top: 200px;
}

#username{
  width: 20%;
  height: 10%;
  position: absolute;
  right: 800px;
  top: 250px;
}



#password{
  width: 20%;
  height: 10%;
  position: absolute;
  right: 800px;
  top: 450px;
}

.password-label{
  position: absolute;
  right: 1000px;
  top: 400px;
}

.status-label{
  position: absolute;
  left: 600px;
  top: 150px;
}

.user-label{
  position: absolute;
  left: 950px;
  top: 150px;
}

.image{
  width: 10%;
  height: 25%;
  border: black;
  margin: 4px 2px;
  border-radius: 25px;
  position: absolute;
  left: 600px;
  top: 200px;

}

#unlock-name{
  width: 20%;
  height: 10%;
  position: absolute;
  left: 900px;
  top: 200px;

}

#userName{
	width: 10%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 25px;
  text-align: center;
  font-size: large;
  position: absolute;
  left: 900px;
  top: 380px;
}

#userPhoto{
  width: 10%;
  height: 5%;
  position: absolute;
  left: 900px;
  top: 310px;
}

.photoLabel{
 
  position: absolute;
  left: 750px;
  top: 300px;
}

.nameLabel1{
 
  position: absolute;
  left: 750px;
  top: 400px;
}

.nameLabel2{
 
  position: absolute;
  left: 750px;
  top: 400px;
}

.submit1{

	position: absolute;
	left: 750px;
	top: 500px;
}

.submit2{

	position: absolute;
	left: 750px;
	top: 500px;
}

.homePage{
	
	position: absolute;
	left: 950px;
	top: 500px;
}

#data_table{
  position: absolute;
  top: 250px;
  right: 150px;
  border-collapse: collapse;
  width: 10%;
  border: 3px solid white;
  font-size: 25px;
  color: white;
  font-weight: bold;
}

#data_table tr{
  border-bottom: 2px solid white;
}
